@page
@model BeamerProtector.Webapp.Pages.Devices.IndexModel
<h1>Geräte verwalten</h1>
<h3>Todo</h3>
<ul>
    <li>Zeige die Geräte aus der Datenbank an.</li>
    <li>
        Es kann ein neues Gerät hinzugefügt werden. Dabei wird eine neue GUID generiert.
        Die Beschreibung und der Aufstellungsort (Raum) kann eingegeben werden.
    </li>
    <li>Die Daten der bestehenden Geräte sollen verändert werden können.</li>
    <li>Geräte können gelöscht werden, wenn keine Alarmierungen daran gebunden sind.</li>
</ul>
