@page
@model BeamerProtector.Webapp.Pages.Alarms.DevicesModel
<h1>Alarmierungen verwalten</h1>
<h3>Todo</h3>
<ul>
    <li>Alarmierungen für ein betreffendes Gerät können über eine Checkbox deaktiviert werden.</li>
    <li>
        Es kann für jedes Gerät eine oder mehrere Alarmgruppen zugeordnet werden (Checkbox).
        Sie definieren, wer aller bei einem Alarm benachrichtigt werden soll.
    </li>
</ul>
