@page
@model BeamerProtector.Webapp.Pages.Alarms.GroupsModel
<h1>Alarmgruppen verwalten</h1>
<h3>Todo</h3>
<ul>
    <li>Es kann eine neue Gruppe (z. B. ZID, Hausverwaltung, Kustoden) definiert werden.</li>
    <li>Für jede Gruppe können Mailadressen verwaltet werden (hinzufügen, löschen).</li>
</ul>
