@page
@model BeamerProtector.Webapp.Pages.Alarms.LogModel
<h1>Alarmlog</h1>
<h3>Todo</h3>
<ul>
    <li>
        Zeige die Alarme der Geräte in der Vergangenheit an.
        Es sollen auch die benachrichtigen Mailadressen mit Zeit der letzten Benachrichtigung angezeigt werden.
    </li>
    <li>
        Ein Alarm kann bestätigt werden, sodass keine Benachrichtigungen mehr erfolgen.
        Im Dashboard erscheint das Gerät dann wieder als OK.
    </li>
</ul>
